@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {

background: -webkit-linear-gradient(83deg, rgb(254, 251, 216), rgb(165, 160, 99));
background: linear-gradient(83deg, rgb(254, 251, 216), rgb(165, 160, 99));
font-family: 'Open Sans', sans-serif;
}

p
{
  font-family: fantasy;
  font-size: 1em;
  color: brown;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

body {
  width: 90%;
  margin: auto;
}

blockquote {
  width: 50%;
  color: grey;
  margin-top: 80px;
  margin-bottom: 80px;
  border-left: 3px solid brown;
  padding-left: 30px;
  font-style: italic;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

.TableLineOne, .TableLineThree, .TableLineFive {
  background-color: grey;
  opacity: 0.9;
}

.TableLineTwo, .TableLineFour {
  background-color: white;
}

header .BgColor {
  background-color: #ffd966;

}

.mal, .bien {
  text-transform: capitalize;
}

.mal {
  color: red;
}

.bien {
  color: green;
}

li {
  list-style: none;
}

.image1 {
  /* float: left;
  position: relative;
  padding: 0 10px 0 0;
  width: 30%;
  display: inline-block;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  position: static;
  float: right;
  display:inline;
  position: relative;
  left: 80px;
  bottom: 300px; */
  float: right;
  display: inline-block;
  position: absolute;
  width: 50%;
  right: 20px;
  margin-top: 20px;

}

.ParagraphImage1 {
  position: static;
  display: inline-block;
  float: left;
  width: 40%;
  font-size: 1.2em;
}

header p {
  font-weight: bold;

}
